<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>Pagina de reservas AFS</title>
    </head>
    <body>
        <div class="container">
        <h1>Reservas AFS</h1>
        <p>Hoy es :{{fecha}}
        <p>Habitaciones libres{{numHabRes}}</p>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Localizador</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Fecha Entrada</th>
                <th scope="col">Fecha Salida</th>
                <th scope="col">Numero Hab.</th>
                <th scope="col">Precio</th>
              </tr>
            </thead>
            <tbody>
                {% for reserva in reservas %}            
                <tr>
                    <th scope="row">{{reserva.localizador}}</th>
                    <td>{{reserva.nombreCliente}}</td>
                    <td>{{reserva.apellidosCliente}}</td>
                    <td>{{reserva.fechaIn|date:"SHORT_DATE_FORMAT" }}</td>
                    <td>{{reserva.fechaOut|date:"SHORT_DATE_FORMAT" }}</td>
                    <td>{{reserva.numeroHabitacion}}</td>
                    <td>{{reserva.precio}}&euro;</td>
                </tr>
                {% endfor %}                     
            </tbody>
          </table>
          <a href="{% url 'nuevaReserva'%}"><button type="button" >Nueva reserva</button></a>
        </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>    
    </body>
</html>